@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.background {
    /* background-color:#F7B535; */
    background-image: url("https://images.pexels.com/photos/693434/pexels-photo-693434.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    /* background-image: linear-gradient(to right bottom, #f7b535, #f8806d, #bd6c91, #716484, #4b4f54); */

    /* background-image: url("https://images.pexels.com/photos/1933319/pexels-photo-1933319.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */

    /* background-image: url("https://images.pexels.com/photos/6985265/pexels-photo-6985265.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    /* background-image: url("https://images.pexels.com/photos/7130555/pexels-photo-7130555.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    /* background: linear-gradient(to left, #181818, #BA8B02);  */


}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Scrollbars styling */

/* width */
::-webkit-scrollbar {
    @apply w-3;
    /* width: 13px;
    height: 16px; */
}

/* Track */
::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    @apply bg-base-300 rounded-md;
    /* background: #edf2f7; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-neutral rounded-md;
    /* background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #a0aec0;*/
    @apply bg-neutral-focus ;
}