@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.glass-card-background {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255,255, 0.2);
    border-radius: 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    min-height: 95vh;
    width: 95vw;
}

.glass-card-auth {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255,255, 0.3);
    border-radius: 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.glass-admin-nav {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(209, 213, 219, 0.3);
}

.glass-admin-heading {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(209, 213, 219, 0.3);
}

.glass-admin-aside {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(29, 28, 28, 0.5);
    border-right: 1px solid rgba(209, 213, 219, 0.3);
}

.glass-admin-content {
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    background-color: rgba(255, 255,255, 0.2);
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.glass-admin-nav-button {
   background-color: rgba(255,255,255,0.1);
   border: 1px solid rgba(255,255,255,0.1);
   backdrop-filter: blur(30px);
   color: rgba(255,255,255,0.8);
}

.glass-admin-nav-button:hover {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.2);
 }

.background {
    /* background-color:#F7B535; */
    /* background-image: url("https://images.pexels.com/photos/693434/pexels-photo-693434.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    /* background-image: linear-gradient(to right bottom, #f7b535, #f8806d, #bd6c91, #716484, #4b4f54); */
    background-image: url("https://images.pexels.com/photos/1933319/pexels-photo-1933319.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    /* background-image: url("https://images.pexels.com/photos/6985265/pexels-photo-6985265.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    /* background-image: url("https://images.pexels.com/photos/7130555/pexels-photo-7130555.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    /* background: linear-gradient(to left, #181818, #BA8B02);  */


}